<% layout('layouts/boilerplate_module') %>


<!--------------  Render Links for Chapter Type ---------------------------------->
<div class="ce-block__content" id="links-top"></div>
<!--------------  Render Heading ---------------------------------->
<div class="ce-block__content" id="header"></div>
<!-------------- Render Editor------------------------------------------------------->
<div id="editorjs"></div>
<!--------------  Render Child Blocks for Subject Type ---------------------------------->
<div class="ce-block__content" id="part-blocks"></div>  

<!--------------  Render Links for Chapter Type ---------------------------------->
<div class="ce-block__content" id="links-bottom"></div>

<link rel="stylesheet" href="/css/editorjs.css">
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@calumk/editorjs-nested-checklist@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
<script type="module" src="/es-modules/initializeModule.js">
    

</script>

