<footer class="footer py-3 mt-auto quaternary-bg-color">
  <div class="container">
    <div class="container text-center mt-4">
      <span class="text-muted">Want Soup?</span>
    </div>
  <div class="row justify-content-center mt-4">
    <div class="col-3 col-sm-2 col-md-1 mt-4 text-center">
      <a href="https://www.linkedin.com/in/vector-soup"><i class="fab fa-linkedin fa-2x primary-color"></i></a>
    </div>
    <div class="col-3 col-sm-2 col-md-1 mt-4 text-center">
      <a href="https://www.youtube.com/@vectorsoup"><i class="fab fa-youtube-square fa-2x primary-color"></i></a>
    </div>
    <div class="col-3 col-sm-2 col-md-1 mt-4 text-center">
      <a href="https://twitter.com/vectorsoup"><i class="fab fa-twitter-square fa-2x primary-color"></i></a>
    </div>
    <div class="col-3 col-sm-2 col-md-1 mt-4 text-center">
      <a href="https://mathstodon.xyz/@vectorsoup "><i class="fab fa-mastodon fa-2x primary-color"></i></a>
    </div>
  </div>
    <div class="container text-center mt-4">
      <span class="text-muted">vectorsoup.com</span>
    </div>
  </div>
</footer>