<footer class="footer py-3 mt-auto quaternary-bg-color">
  <div class="container">
    <div class="container text-center mt-4">
      <span class="text-muted">Want Soup?</span>
    </div>
    <!-- create a grid with three columns that does not break on smaller displays -->
    <div class="row justify-content-center mt-4">
      <div class="col-4 col-md-2 text-center">
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x primary-color"></i></a>
      </div>
      <div class="col-4 col-md-2 text-center">
        <a href="https://www.youtube.com/"><i class="fab fa-youtube-square fa-2x primary-color" ></i></a>
      </div>
      <div class="col-4 col-md-2 text-center">
        <a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-2x primary-color" ></i></a>
      </div>
    </div>  
    <div class="container text-center mt-4">
      <span class="text-muted">vectorsoup.com</span>
    </div>
  </div>
</footer>