<footer class="footer py-3 mt-auto" style="background-color: #213555;">
  <div class="container">
    <!-- create a grid with three columns that does not break on smaller displays -->
    <div class="row justify-content-center mt-4">
      <div class="col-4 col-md-2 text-center">
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x" style="color: #F5EFE7;"></i></a>
      </div>
      <div class="col-4 col-md-2 text-center">
        <a href="https://www.youtube.com/"><i class="fab fa-youtube-square fa-2x" style="color: #F5EFE7;"></i></a>
      </div>
      <div class="col-4 col-md-2 text-center">
        <a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-2x" style="color: #F5EFE7;"></i></a>
      </div>
    </div>  
    <div class="container text-center mt-4">
      <span class="text-muted">The First Principles Portal</span>
    </div>
  </div>
</footer>