<nav class="navbar navbar-expand-lg navbar-dark quaternary-bg-color" style="padding-top: 0;">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <a class="navbar-brand" href="/" style="font-size: larger;"><span class="apply-font secondary-color">vectorsoup.com</span></a>
        </div>
        <div class="d-flex justify-content-center">
            <!-- Add your image thumbnails and titles here -->
            <div class="text-center">
                <a href="/learn" style="text-decoration: none;">
                    <img src='/src/assets/Trove.png' alt="Learn" style="max-width: 40px; max-height: 40px;">
                </a>
                <span class="d-none d-sm-inline-block ml-2 mr-4 primary-color apply-font" style="margin-right: 15px;">Learn</span>
                <a href="/practice/latest" style="text-decoration: none;">
                    <img src='/src/assets/Trials.png' alt="Practice" style="max-width: 40px; max-height: 40px;">
                </a>
                <span class="d-none d-sm-inline-block ml-2 mr-4 primary-color apply-font" style="margin-right: 15px;">Practice</span>
                <a href="/soup" style="text-decoration: none;">
                    <img src='/src/assets/Soup.png' alt="Soup" style="max-width: 40px; max-height: 40px;">
                </a>
                <span class="d-none d-sm-inline-block ml-2 mr-4 primary-color apply-font" style="margin-right: 15px;">Soup</span>
                <a href="/about" style="text-decoration: none;">
                    <img src='/src/assets/about.png' alt="About" style="max-width: 40px; max-height: 40px;">
                </a>
                <span class="d-none d-sm-inline-block ml-2 mr-4 primary-color apply-font" style="margin-right: 15px;">About</span>
            </div>
        </div>
        <div class="d-flex justify-content-end navbar-nav">
            <!-- display login only if currentUser doesnt exist and if node enviroment is not production -->
            <% if(!currentUser && process.env.NODE_ENV !== 'production') { %>
                <div> 
                    <a href="/login" class="nav-link apply-font">Login</a>
                </div>
            <% } %>
            <!-- display logout only if currentUser exists -->
            <% if(currentUser) { %>
                <div>
                    <a href="/logout" class="nav-link">Logout</a>
                </div>
            <% } %>
        </div>
    </div>
</nav>
