<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #213555;padding-top: 0;">
    <div class="container-fluid" >
        <div>
        <a class="navbar-brand" href="/pola"><img width="50px" src="https://dub06pap001files.storage.live.com/y4mnrov1K0eRwFJzyYhBWjU690R-tnYuJILmGabv5Jhr3eRr7DwJu8j23u2Lqsl9wgVhLg2E9osw_y-3ZhqyqlStJLT-a0N3DkJRKjdvrbzhZRl8V7l1kWJEl8zFLWzaQPlDQtd2eflJB5Nt9RC6HdE5RBnznWFGF5AWaS2GHdMfMAoXrPENEqaYkrNdOF9tQrF?width=622&height=599&cropmode=none" alt="the first principles portal logo"></a>
        </div>
        <!-- display about page -->
            <div class="navbar-nav ml-auto">
                <div class="row">
                    <div class="col">
                    <a href="/pola/about" class="nav-link">About</a>
                    </div>
        <!-- display login only if currentUser doesnt exist and if node enviroment is not production -->
            <% if(!currentUser && process.env.NODE_ENV !== 'production') { %>
                    <div class="col"> 
                        <a href="/login" class="nav-link">Login</a>
                    </div>
                <% } %>
                <!-- display logout only if currentUser exists -->
            <% if(currentUser) { %>
                <div class="col">
                    <a href="/logout" class="nav-link">Logout</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>