<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The First Principles Portal</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- include svg icon -->
    <link rel="icon" href="https://dub06pap001files.storage.live.com/y4mnrov1K0eRwFJzyYhBWjU690R-tnYuJILmGabv5Jhr3eRr7DwJu8j23u2Lqsl9wgVhLg2E9osw_y-3ZhqyqlStJLT-a0N3DkJRKjdvrbzhZRl8V7l1kWJEl8zFLWzaQPlDQtd2eflJB5Nt9RC6HdE5RBnznWFGF5AWaS2GHdMfMAoXrPENEqaYkrNdOF9tQrF?width=622&height=599&cropmode=none" >
    
    <!-- Set body font to Spectral. Import necessary stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.18/katex.min.css">

    <!-- Add style for #editor class-->
    <style type="text/css" media="screen">
        #editor {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 200px;
        }
        .canvas-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            background-color: #4F709C;
        }

        .canvas-content {
            /* vertical align the text in the middle of div  */
            margin-top: 0%;
            margin-bottom: 10%;
        }

        .canvas-image{
            width: 700px;
        }

        @media (max-width: 767px) {
            .canvas-content {
                text-align: center;
                margin-top: 2%;
            margin-bottom: 2%;
            padding-bottom: 0%;
            }
            .canvas-image{
            width: 100%;
            }
        }
        /* define a container for body text */
        .container-body {
            max-width: 100%;
            margin: auto;
            padding: 0 20px;
        }

        /* add style for body */
        body {
            /* CMU font */
            /*font-family: 'CMU Serif', 'Times New Roman', serif; */
            font-size: 1rem;
            line-height: 1.5;
            color: #212e53;
            background-color: #F5EFE7;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .allSides
        {
        border: solid 1px #555;
        background-color: #eed;
        box-shadow:  0 0 10px  #4F709C;
        -moz-box-shadow: 0 0 10px  #4F709C;
        -webkit-box-shadow: 0 0 10px  #4F709C;
        -o-box-shadow: 0 0 10px  #4F709C;
        border-radius: 10%;
        }

        .image-container {
          position: relative;
        }
        
        .overlay {
          position: absolute;
          top: 0;
          left: 20%;
          width: 60%;
          height: 100%;
          border-radius: 10%;
          background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0.2; /* Initially hidden */
          transition: opacity 0.3s ease-in-out; /* Smooth fade-in/out */
        }
        
        .overlay:hover {
          opacity: 1; /* Show on hover */
        }
        
        .text {
          color: white;
          font-size: 2rem;
          font-weight: bold;
        }

        footer{
         margin-top: auto;
        }

    </style>

</head>

<body>
    <%- include('../partials/navbar') %>

<main>
            <!-- Canvas with background image and off-center title -->
    <div class="canvas-container">
        <!-- insert row div with two column div within equally spaced -->
        <!--<div class="row">-->
            <!--<div class="col-sm-6 canvas-content">-->
                <div class="container mt-4 pt-4">
                    <div style="text-align: center;margin: auto;">
                        <img class="canvas-image" src="https://dub06pap001files.storage.live.com/y4mHmXoAiEt3GUX7t01zSsVIgUBfaJB0bg4XKCuhFmRxrRqkDe9ijdJkMEilvmOD6MMkpk41VuKp_TK0fQ2yDcZlpWlXU1t7een_jE9gGGCe_QhvyHTRg_SqkfDveXgVPy_oDwIBFSNwgTQZ63WNT9_NfOuubRsS8tN2kQxqsJPbLaEQT4VzMyZQdDVerseVyL0?width=2750&height=2024&cropmode=none" alt="">
                    </div>
                </div>
            <!--</div>-->
        <!--<div class="col-sm-5" style="margin:auto">
            <div class="container mb-4 pb-4">
             <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://dub06pap001files.storage.live.com/y4mTpUWCtF8gSpg1G3pZcwXSnD1TDDNR-9nlsrEN6fHLzZsjym7SBLt5hGVGnKWIxxTcgPaQ9h--r9soBxXINkHsRDVHJkagty9_CfSWhjluiGTIml7miMv4WST87hSDVUqChx6yQDPyjIcDPGDA_M_IRVI2ybKqlx-frik2M-Pz87DOrls49yQ_1xGYeHaOAqp?width=1024&height=755&cropmode=none"  class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://dub06pap001files.storage.live.com/y4mBuoItzA7mF3SsgohSwwz5AIhmqrmvW0lX78SgtdAhMpUb9vSPj_8uLYWxpiHk1mKiKqWm4jWpQB5R01dPBqO6RoO6yc4AmTuX-XKuy6LxFOD0U_ha3uwmZtKJQsW-cuaxz-xP2_TLIjHZIhmtDeXT30zaQhKznDk2ZeZPl5vy5F1GQ9-ThlBbXfs8T2NTwMg?width=1024&height=755&cropmode=none" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
             </div>
            </div>
        </div>
    </div>-->
</div>
 
<div class="container-body mt-4 mb-4"> <%- include('../partials/flash') %>
    <%- body %></div>
</main>
        <%- include('../partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>


</body>


</html>