<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The First Principles Portal</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="https://dub06pap001files.storage.live.com/y4mnrov1K0eRwFJzyYhBWjU690R-tnYuJILmGabv5Jhr3eRr7DwJu8j23u2Lqsl9wgVhLg2E9osw_y-3ZhqyqlStJLT-a0N3DkJRKjdvrbzhZRl8V7l1kWJEl8zFLWzaQPlDQtd2eflJB5Nt9RC6HdE5RBnznWFGF5AWaS2GHdMfMAoXrPENEqaYkrNdOF9tQrF?width=622&height=599&cropmode=none">

    <!-- Set body font to Spectral. Import necessary stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.18/katex.min.css">

    <!-- Add style for #editor class-->
    <style type="text/css" media="screen">
        #editor {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 200px;
        }
        .canvas-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        .canvas-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /*background-image: url('https://dub06pap001files.storage.live.com/y4mCemxZ8-1wFYUcIGgjJGyKuMUBwAVQDvEmZLEgrhXi08nV59u90bAICE_y4qj0KfxLzkY_L8Ok60ruMyaTlVwaivV9k-_bMRTlhHqKipDfgBYHdMmSHUGw7jSqMFssYflRlC23sO1XY0nCi0PG0jm5VnAjqU5K4vowFx06mZW0nNk3UxeVJFShvThtERJCieo?width=557&height=280&cropmode=none');*/
            background-color: #fdf1e2;
            background-size: cover;
            z-index: -1;
        }

        .canvas-content {
            /* vertical align the text in the middle of div  */
            margin-top: 10%;
            margin-bottom: 10%;
        }

        @media (max-width: 767px) {
            .canvas-content {
                top: 40%;
                left: 5%;
                max-width: 70%;
            }
        }
        /* define a container for body text */
        .container-body {
            max-width: 100%;
            margin: auto;
            padding: 0 20px;
        }

        /* add style for body */
        body {
            /* CMU font */
            /*font-family: 'CMU Serif', 'Times New Roman', serif; */
            /*font-size: 16px;*/
            line-height: 1.5;
            color: #212e53;
            background-color: #fdf1e2;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .allSides
        {
        border: solid 1px #555;
        background-color: #eed;
        box-shadow:  0 0 10px  rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        border-radius: 10%;
        }

        .image-container {
          position: relative;
        }
        
        .overlay {
          position: absolute;
          top: 0;
          left: 20%;
          width: 60%;
          height: 100%;
          border-radius: 10%;
          background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0.2; /* Initially hidden */
          transition: opacity 0.3s ease-in-out; /* Smooth fade-in/out */
        }
        
        .overlay:hover {
          opacity: 1; /* Show on hover */
        }
        
        .text {
          color: white;
          font-size: 2rem;
          font-weight: bold;
        }
        footer{
             margin-top: auto;
        }
        .highlight-box{
            background-color:#D8C4B6;
             box-shadow: 5px 10px;
             width:90%;
             margin:2%;
             padding: 2%;
             border-radius: 5px;
        }
        .equation{
            flex: 1; 
            text-align: center;
            overflow-x: auto;
        }

    </style>

</head>

<body>
    <%- include('../partials/navbar') %>

<main> 
<div class="container-body mt-4 mb-4"> <%- include('../partials/flash') %>
    <%- body %></div>
</main>
        <%- include('../partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>


</body>


</html>