<% layout('layouts/boilerplate_for_template') %>
    <div class="container-fluid ms-1">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Create a card grid of equal height for each subject with image, title and summay. Include an edit button-->
            <% for (let i=0; i < subjects.length; i++) { %>

                <div class="col">

                    <div class="card h-100" style="width: 20rem;">
                        <!-- add link to subject page to image -->
                        <a href="/pola/<%= subjects[i]._id %>">
                            <img src="<%= subjects[i].image %>" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= subjects[i].title %>
                            </h5>
                            <p class="card-text">
                                <%= subjects[i].summary %>
                            </p>
                        </div>
                    </div>

                </div>

                <% } %>


                    <!-- copy the form to add new subject but style it as according to the current card style -->
                    <form action="/pola" method="POST">
                        <div class="col">
                            <div class="card h-100" style="width: 20rem;">
                                <img src="https://www.wolflair.com/wp-content/uploads/2017/01/placeholder.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input name="title" type="text" class="form-control"
                                            id="exampleFormControlInput1" value="Title">
                                    </h5>
                                    <p class="card-text">
                                        <textarea name="summary" class="form-control" id="exampleFormControlTextarea1"
                                            rows="3">No summary yet</textarea>
                                    </p>
                                    <p class="card-text">
                                        <input name="image" type="text" class="form-control"
                                            id="exampleFormControlInput1" placeholder="Image URL">
                                    </p>

                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Add Subject</button>
                            </div>

                        </div>
                    </form>
        </div>
    </div>