<!-- Create a basic html template -->
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome to theLagrangian</h1>
    <p>Welcome to the home page. Below are the main sujects</p>


    <% for (let i=0; i < subjects.length; i++) { %>
        <a href="/<%= subjects[i]._id %>/content">
            <%= subjects[i].title %>
        </a>
        <br>
        <% } %>

            <!-- Add subject post route -->
            <form action="/" method="POST">
                <input type="text" name="title" placeholder="Add a subject">
                <br>
                <input type="submit" value="Add">
            </form>



</body>

</html>