<% layout('layouts/boilerplate_wo_sidebar') %>

<!-- create an about page -->
<h1>About</h1>

    <p><i>
        Our ultimate destiny is to leave an indelaiable mark on the vast Cosmos.  This is only possible with continous and unrelenting cycles of discovery and innovation. 
        Each cycle results in a new paradigm shift that is not only unpredictable but also unimaginable. How many such cycles have we had? How many more will we have? 
        And what will be the next paradigm shift?
    </i>
    </p>    

<p>
     The first priciples portal (FPP) is an experiment in creating an open online learning platform centered around applied mathematics, physics, engineering and other related fields.
  There are already many such online learning platforms in existence today and the space continues to grow as educational resources becomes much more accessible to a larger 
  number of people fueling demand. Infact, I believe the online learning market is poised to reach parity or even surpass the traditional education system. However, 
  
  Draft in bullet points:
    - The first priciples portal (FPP) is an experiment in creating an open online learning platform centered around applied mathematics, physics, engineering and other related fields.
    - There are already many such online learning platforms in existence today and the space continues to grow as educational resources becomes much more accessible to a larger
    number of people fueling demand. Infact, I believe the online learning market is poised to reach parity or even surpass the traditional education system. 
    - Currently there are several categories of online learning platforms.
        - The first category is the MOOCs (Massive Open Online Courses) like Coursera, EdX, Udacity, etc. where one can create a course on any topic.  
        - The second category is the online learning platforms like Khan Academy, Brilliant, etc, where the content is created by the platform itself and is therefore more curated and structured.
           they also tend to skew towards standard school curriculum.
        - The third category is platforms like Wikipedia, Stack Exchange, etc, where the content is created by the community and is therefore more organic and dynamic. These are not
        strictly learning platforms but they do provide a wealth of knowledge in a variety of topics.
        - The fourth category is video hosting platforms like Youtube, etc, where highly engaging and illustrative content can be created and shared.
     
    - Each platform has its own advantages and disadvantages. 
    - I want to try something different with FPP and fill a different niche which could hopefully grow into its own big thing.
    - In order to identify this niche, lets go over the drawbacks of the existing platforms.
        - MOOCs tend to bundle courses into a single consumable content that is quite static in nature (i.e. there is no interactive elements)
        They tend to be light on offering practice problems which is a big part of the learning process.
        Also with some exceptions, the courses are usually not updated often so there is less incentive for a student to have repeated engagement with a given course.
        This has the effect of false sense of completion and mastery of the subject matter. It also encourages binging on courses rather than taking the time to absorb the material.
        - Platforms like Brilliant are better at offering practice problems but they tend to only provide a cursory overview of the subject matter.
         They also tend to cater more towards a beginner audience and towards students preparing for standardized tests.
         This is not to say there isnt value for professionals but these platforms are not sufficient for practicing more 
         complex problems and advanced topics that involve heavy use of mathematics.
        - On the opposite end of the spectrum, platforms like Wikipedia and Stack Exchange are great for advanced topics but they
         are not structured in a way that is conducive to learning for a beginner. 
        - Finally, video hosting platforms like Youtube has the same issue as MOOCs in that the content not interactive.
        Also, youtube videos tend to promote sensationalism and clickbait content which is not conducive to learning and 
        exacerbates the Dunning-Kruger effect.
        - So how would FPP do things differently? I think it is technically possible to create a
        all in one platform that combines the best of all the above platforms without any of its weaknessess. 
        But such a platform would not only be hard to build but since its not particularly geared towards anyone it
         will likely fail to gather attention. Instead I would like to address the niche that I think is not yet being served.
         - I would like to make more advanced courses for people who are already familiar with the basics and are looking to
            dive deeper into a given subject. There is still a strong need for structured content and practice problems 
            for advanced topics. Unfortunately this need is not being met by the existing platforms since 
            the size of such an audience is smaller and the content is relatively more difficult to create.
        - Nonetheless I want to give this a shot since I think there is a lot of value in such a platform
        and I enjoy learning and teaching physics and engineering anyway.
        - I plan to grow FPP organically and slowly add more content and features as I go along.
        - My first step will be to focus on adding more Physics courses and then expand to other related fields.
        - I will post all updates primarily on my twitter account @fpprojects and other social media platforms as I start using them.
        - I also intend to use social media to get feedback from users, answer questions and to build a following of interested people.
        - I also plan to make videos on youtube to supplement the content on the website and further boost engagement.
        - If the website gains more traction and I start to see real use case, I will dedicate more
        time to this (currently I am doing this part time) and consider getting more
        collaborators to help me with the content creation process.
        - There is also a lot improvements to the website functionality that I envision such as:
           - user accounts and profiles that would enable users to track
                 their progress and compare their performance with others.
            - more interactive elements such as simulations, animations, etc.
            - more functional user inputs for problems that have built in interpreters for more complex inputs such as equations, symbolic language, Python code etc.
            - dynamic content generation potentially with the help of machine laarning. 
            - integrated chatbots
            

        </p>

<p>

    - I plan to grow FPP organically and slowly add more content and features as I go along.
        - My first step will be to focus on adding more Physics courses and then expand to other related fields.
        - I will post all updates primarily on my twitter account @fpprojects and other social media platforms as I start using them.
        - I also intend to use social media to get feedback from users, answer questions and to build a following of interested people.
        - I also plan to make videos on youtube to supplement the content on the website and further boost engagement.
        - If the website gains more traction and I start to see real use case, I will dedicate more
        time to this (currently I am doing this part time) and consider getting more
        collaborators to help me with the content creation process.
        - There is also a lot improvements to the website functionality that I envision such as:
           - user accounts and profiles that would enable users to track
                 their progress and compare their performance with others.
            - more interactive elements such as simulations, animations, etc.
            - more functional user inputs for problems that have built in interpreters for more complex inputs such as equations, symbolic language, Python code etc.
            - dynamic content generation potentially with the help of machine laarning. 
            - integrated chatbots
            

            - I plan to grow FPP organically and slowly add more content and features as I go along.
        - My first step will be to focus on adding more Physics courses and then expand to other related fields.
        - I will post all updates primarily on my twitter account @fpprojects and other social media platforms as I start using them.
        - I also intend to use social media to get feedback from users, answer questions and to build a following of interested people.
        - I also plan to make videos on youtube to supplement the content on the website and further boost engagement.
        - If the website gains more traction and I start to see real use case, I will dedicate more
        time to this (currently I am doing this part time) and consider getting more
        collaborators to help me with the content creation process.
        - There is also a lot improvements to the website functionality that I envision such as:
           - user accounts and profiles that would enable users to track
                 their progress and compare their performance with others.
            - more interactive elements such as simulations, animations, etc.
            - more functional user inputs for problems that have built in interpreters for more complex inputs such as equations, symbolic language, Python code etc.
            - dynamic content generation potentially with the help of machine laarning. 
            - integrated chatbots
            
</p>
<!-- Add mathjax to render latex equations -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- initialize mathjax -->
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
</script>