<% layout('layouts/boilerplate_landing') %>
<div class="canvas-container" style="margin-top: 0px; margin-bottom: 50px;">
    <div class="container pt-2 mb-4 pb-4">
    <div class="row">
        <div class="apply-font <%=textColor%> main-title-left col-sm-6" style="margin-right: 0">V e c t o r</div>
        <div class="apply-font <%=textColor%> main-title-right col-sm-6" style="padding-left: 6%;margin-left: 0">S o u p</div>
    </div>

    <div class="apply-font container-fluid mt-2 pt-4" style="text-align: center;"> <h5 class="<%=textColor%>"><i>A hearty dish for applied math enthusiasts.</i></h5> </div>
    </div>
</div>


<div class="container" style="max-width: 700px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-6 col-md-3 text-center">
            <a href="/learn"><img src="https://onedrive.live.com/embed?resid=1ca1eb3abf73ac72%2118239&authkey=%21ABL4kRuPBtIHaKc&width=419&height=415" alt="Learn" style="max-width: 100px;"></a>
            <p class="apply-font">Learn</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <a href="/practice/latest"><img src="https://onedrive.live.com/embed?resid=1ca1eb3abf73ac72%2118240&authkey=%21ANJVXbdHltXdFY4&width=419&height=421" alt="Practice" style="max-width: 100px;"></a>
            <p class="apply-font">Practice</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <a href="/soup"><img src="https://onedrive.live.com/embed?resid=1ca1eb3abf73ac72%2118241&authkey=%21APmG771_O9kjENQ&width=419&height=421" alt="Soup" style="max-width: 100px;"></a>
            <p class="apply-font">Soup</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <a href="/about"><img src="https://onedrive.live.com/embed?resid=1ca1eb3abf73ac72%2118671&authkey=%21ADC87HuZjrtB1Hg&width=245&height=245" alt="Social" style="max-width: 100px;"></a>
            <p class="apply-font">About</p>
        </div>
    </div>
</div>


