<% layout('layouts/boilerplate') %>
<%- include('../partials/banner') %>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100 text-center bg-transparent" style="border: none;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHxLvps18QEOHvDSbSNBbVA6-qF7-7_s2DOg&usqp=CAU" class="card-img-top rounded-circle mx-auto d-block" alt="..." style="width: 50%;">
        <div class="card-body">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png?20220706172052" class="mx-auto d-block" alt="YouTube Icon" style="width: 20%;margin-bottom: 0.8rem;">
            
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center bg-transparent" style="border: none;">
        
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHxLvps18QEOHvDSbSNBbVA6-qF7-7_s2DOg&usqp=CAU" class="card-img-top rounded-circle mx-auto d-block" alt="..." style="width: 50%;max-width: 100px;">

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="d-flex justify-content-center" style="margin-bottom: 0.5rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png?20220706172052" class="d-block mx-2" alt="YouTube Icon" style="width: 10%">
            <img src="https://bayrivercolleges.ca/files/logo-x-twitter.svg" class="d-block mx-2" alt="Twitter Icon" style="width: 7%;">
          </div>

          <p class="card-text text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center bg-transparent" style="border: none;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHxLvps18QEOHvDSbSNBbVA6-qF7-7_s2DOg&usqp=CAU" class="card-img-top rounded-circle mx-auto d-block" alt="..." style="width: 50%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>