<% layout('layouts/boilerplate_wo_sidebar') %>

<form action="/page/<%= page._id %>" method="POST">

    <div class="card mb-3" style="width: 100%;">
        
                <div class="card-body">
                    <h5 class="card-title">
                        <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                            value="<%= page.title %>">
                    </h5>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Edit summary</label>
                        <textarea name="summary" class="form-control" id="exampleFormControlTextarea1"
                            rows="3"><%=page.summary%></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Edit content</label>
                        <textarea name="content" class="form-control" id="exampleFormControlTextarea1"
                            rows="3"><%=page.content%></textarea>
                    </div>
                    <div class="form-check form-switch">
                        <% if(page.published) { %>
                        <input class="form-check-input" name="published" type="checkbox" role="switch" id="publishCheck" value="true" checked>
                        <% } else { %>
                            <input class="form-check-input" name="published" type="checkbox" role="switch" id="publishCheck" value="true">
                        <% } %>
                        <label class="form-check-label" for="publishCheck">Publish Status</label>
                    </div>
        
                    <button type="submit" class="btn btn-primary btn-sm">Sumbit</button>

                </div>
    </div>

</form>
